/* Smartphones (landscape) ----------- */
@media(min-width: 50px) and (orientation : landscape) {
/* Styles */
	html, body{
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	.warning{display: block!important;}
}


/*>>>>>>>>>> Mobile First <<<<<<<<<<<<<<*/

/* Colores de las Bolitas */
/* Seccion Videos */
#section1 > .fullPage-slidesNav > ul > li > a.active > span{background-color: #9c5fb5;}
#section1 > .fullPage-slidesNav > ul > li > a > span{border-color: #9c5fb5;}

/* Seccion Aprende */
#section2 > .fullPage-slidesNav > ul > li > a.active > span{background-color: #0039a6;}
#section2 > .fullPage-slidesNav > ul > li > a > span{border-color: #0039a6;}

/* Seccion FAQ */
#section3 > .fullPage-slidesNav > ul > li > a.active > span{background-color: #f1ce7a;}
#section3 > .fullPage-slidesNav > ul > li > a > span{background-color: white; border-color: #f1ce7a;}

body, html{
	font-family: 'omnesmedium';
	font-size: 16px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

.warning{
	width: 100%;
	height: 100%;
	background-color: white;
	position: absolute;
	z-index: 200;
	display: none;
	opacity: 0.9;
}

.warning > .aviso{
	color: #009b3a;
	margin: 64px auto;
	width: 45%;
	height: 120px;
	text-align: center;
	font-family: 'omnessemibold';
	font-size: 20px;	
}

.warning > img{
	width: 56px;
	height: auto;
	position: absolute;
	left: 50%;
	margin-left: -29px;
	top: 146px;
}

/* --- LA envoltura General ---  */
.envoltura{
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	

}

/* --- El Menu contextual ---  */
.menuContextual{
	z-index: 99;
	height: 100%;
	width: 280px;
	background-color: #fff;
	position: fixed;
	right: 0px;
	bottom: 0px;

	border-bottom: 1px solid green;

	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;

	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-moz-transform: translateX(100%);
}

.menuContextual ul.contextual{
	width: 100%;
	overflow: hidden;
	background-color: white;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menuContextual ul.contextual > li{
	width: 100%;
	height: 80px;
}

.menuContextual ul.contextual > li > a{
	text-decoration: none;
	display: block;
	line-height: 80px;

	box-sizing: border-box;

	padding-left: 22px;
	border-bottom: 1px solid green;

	color : #009b3a;
	font-size: 22px;
	font-family: 'omnesmedium';
}


/* --- La cabecera ---  */
.head{
	width: 100%;
	height: 45px;
	background-color: white;
	position: absolute;
	z-index: 20;

	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
}

.head > img{padding: 10px 14px;}


.botonMenu{
	width: 44px;
	height: 45px;
	float: right;
	position: relative;
}

.botonMenu .raya{
	width: 22px;
	height: 3px;
	position: absolute;

	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;

	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
}

.botonMenu .raya > img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.botonMenu #raya1{margin: 16px 2px 2px 13px;}
.botonMenu #raya2{margin: 26px 2px 2px 13px;}

.girarRaya1{
	-ms-transform: rotate(135deg) translate(4px, -4px); /* IE 9 */
	-webkit-transform: rotate(135deg) translate(4px, -4px); /* Safari */
	transform: rotate(135deg) translate(4px, -4px);
}

.girarRaya2{
	-ms-transform: rotate(-135deg) translate(2px, 3px); /* IE 9 */
	-webkit-transform: rotate(-135deg) translate(2px, 3px); /* Safari */
	transform: rotate(-135deg) translate(2px, 3px);
}

.open-slider .menuContextual {
	-webkit-transform:translateX(0%);
	transform:translateX(0%);
	-moz-transform:translateX(0%);
}

.open-slider .envoltura {
	-webkit-transform:translateX(-280px);
	transform:translateX(-280px);
	-moz-transform:translateX(-280px);
}

.open-slider .head {
	-webkit-transform:translateX(-280px);
	transform:translateX(-280px);
	-moz-transform:translateX(-280px);
}

/* --- LAS SSECCIONES ---  */
.section{
	background-size:cover;
	background-position: center center;
}

#section0{background-image: url(../img/fondoHome.png);}
#section1{background-image: url(../img/fondoP1.jpg);}
#section2{background-image: url(../img/fondoP1.jpg);}
#section3{background-image: url(../img/fondoP4.jpg);}



h2.subTituloHome{
	font-family: 'omneslight';
	font-size: 18px;
	/*font-size: 23px;*/
	color:#4b4b4b;
	padding: 50px 0px 0px 14px;
}

h1.tituloHome{
	font-family: 'omnesmedium';
	color: #009b3a;
	font-size: 26px;
	/*font-size: 32px;*/
	padding: 0px 0px 0px 14px;
	margin-top: -10px;
	line-height: 29px;
}

h1.tituloVideos{
	font-family: 'omnesmedium';
	color: #9c5fb5;
	font-size: 19px;
	padding: 22px 0px 0px 14px;
	line-height: 18px;
}

h2.subTituloVideo{
	font-family: 'omneslight';
	font-size: 14px;
	color:#4b4b4b;
	padding: 6px 0px 0px 14px;
	width: 90%;
	margin-top: -14px;
	line-height: 15px;
}

h2.subTituloPreguntas{
	font-family: 'omneslight';
	font-size: 14px;
	color:#f1ce7a;
	padding: 0px 0px 0px 14px;
	width: 90%;
	margin-top: 20px;
	line-height: 18px;
}

h1.tituloAprende{
	font-family: 'omnesmedium';
	color: #0039a6;
	font-size: 26px;
	padding: 32px 0px 0px 14px;
	line-height: 22px;
}

h1.tituloPreguntas{
	font-family: 'omnesmedium';
	color: #FFF;
	font-size: 26px;
	padding: 44px 0px 0px 14px;
	line-height: 22px;
}

/* -- el call para el home */
.callTo{
	width: 60%;
	height: 12%;
	margin-top: -10px;
	/*width: 74%;
	height: 12%;*/
	display: block;
	margin-left: 14px;
	position: relative;
	border-radius: 8px;
	color: white;
}

.callTo img{
	position: absolute;
	display: none;
	width: 100%;
	height: auto;
}

/* -- el call para Internas */
.callToInternas{
	width: 60%;
	height: 12%;
	display: block;
	margin-left: -30%;
	left: 50%;
	bottom: 30px;
	position: absolute;
	border-radius: 8px;
	color: white;
	z-index: 20;
}

.callToInternas img{
	position: absolute;
	display: none;
	width: 100%;
	height: auto;
}

.arrowGreen{
	width: 50%;
	padding: 22px 0px 0px 40px;
}

.arrowGreen img{
	width: 100%;
	height: auto;
}

.nextPag{
	display: block;
	width: 74px;
	height: 74px;
	background-color: white;
	border-radius: 50px;

	/*
	-moz-box-shadow: #515151 0px 0px 14px;
    -webkit-box-shadow: #515151 0px 0px 14px;
    box-shadow: #515151 0px 0px 14px;
    */

    position: absolute;
    bottom: 36px;
    left: 50%;
    margin-left: -37px;
    text-align: center;
    padding: 18px 0px 0px 0px;
    box-sizing: border-box;
    color: #009b3a;
    font-family: 'omnesmedium';
    font-size: 16px;

    text-decoration: none;
}

/* -- Navegaciones */
.controlArrow{
	display: none;
}

.fullPage-slidesNav{
	margin-bottom: 56px;
	display: block;
}

#section2 .fullPage-slidesNav{
	margin-left: -98px!important;
}

#section3 .fullPage-slidesNav{
	margin-bottom: 0px;
}

.iframe_video {
	width: 100%;
	height: 136px;
}

/* Estilos Aprende */

#section2 .slides{
	margin-top: -10px;
}


.title{
    margin: 0px 0px 0px 14px;
    color:#0039a6;
    font-size: 22px;
    padding:0px 0px 4px 40px;
    font-family: 'omnessemibold';
}

.left{
    width: 20%;
    float:left;
    font-size: 13px;
    color:#0039a6;
    margin-left: 14px;
}
.right{
    width: 70%;
    float:left;
    color:#313131;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 2px;
}

.btn_consulta{background: url(../img/iconSaldoAzul.png) no-repeat;}
.btn_cuenta{background: url(../img/iconoEnviaAzul.png) no-repeat;}
.btn_mtarjeta{background: url(../img/iconoPagaAzul.png) no-repeat;}
.btn_recibos{background: url(../img/iconoRecibosAzul.png) no-repeat;}
.btn_transfiere{background: url(../img/iconoTrnasfiereAzul.png) no-repeat;}
.btn_pagosfre{background: url(../img/iconoGuardarAzul.png) no-repeat;}
.btn_grabfre{background: url(../img/iconoRecargaAzul.png) no-repeat;}

/* >>>> seccion preguntas - Last Section <<<< */
.faqsec .contnt_txt {
  display: block;
  clear: both;
  margin: -10px auto 0 auto;
  color: #b0c7f1;
  font-size: 14px;
  width: 90%;
}
.faqsec .contnt_txt li {
  margin: 0 0 0 0;
  position: relative;
  padding: 4px 0;
  color: #ffffff;
}
.faqsec .listui li {
  padding: 8px 0 8px 36px;
  background: url(../img/icon_acordeon.png) no-repeat;
  background-position: 0 -685px;
}
.faqsec .listui .n2 {
  background-position: 0 -727px;
}
.faqsec .listui .n3 {
  background-position: 0 -769px;
}
.faqsec .listui .n4 {
  background-position: 0 -809px;
}
.faqsec ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style-type: none;
}
.faqsec > li {
  list-style-type: none;
  margin: 16px 0 16px 0;
}

#section3 .slides{
	margin-top: -14px;
}

.faqsec h2{
  display: block;
  width: 72%;
  padding: 0px 30px 0px 28px;
  margin-left: 14px;
  color: #f1ce7a;
  font-size: 19px;
  transition: color 0.3s ease-out;
  outline: none;
  text-decoration: none;
  position: relative;
  letter-spacing: -0.5px;
  line-height: 20px;
}

.faqsec .faq01 {background: url(../img/iconCelular.png) no-repeat;}
.faqsec .faq02 {background: url(../img/iconMundo.png) no-repeat;}
.faqsec .faq03 {background: url(../img/iconSMS.png) no-repeat;}
.faqsec .faq04 {background: url(../img/iconMaletin.png) no-repeat;}
.faqsec .faq05 {background: url(../img/iconCandado.png) no-repeat;}

.faqsec .active a {
  color: #ffffff;
  font-size: 25px;
  font-family: 'omnessemibold';
  transition: color 0.3s ease-out;
  line-height: 26px;
}
.faqsec .active a:before {
  background-position: -17px -18px;
}


@media only screen and (min-device-width : 321px) and (max-device-width : 720px) {
	h2.subTituloHome{
		font-size: 23px;
		padding: 70px 0px 0px 14px;
	}

	h1.tituloHome{
		font-size: 32px;
		line-height: 33px;
		padding: 0px 0px 10px 14px;
	}

	h1.tituloAprende{
		font-size: 32px;
		line-height: 33px;
		padding: 40px 0px 10px 14px;
	}

	.callTo{
		width: 74%;
		height: 12%;
		padding: 10px 0px 4px 0px;
	}

	h1.tituloVideos{
		font-size: 32px;
		padding: 26px 0px 0px 14px;
		line-height: 32px;
	}

	h2.subTituloVideo{
		font-size: 14px;
		padding: 0px 0px 0px 14px;
		margin-top: -14px;
		line-height: 18px;
	}

	.iframe_video {
		width: 100%;
		height: 230px;
		margin-left: 0;
	}

	.fullPage-slidesNav{
		margin-bottom: 100px;
		display: block;
	}
	

	/* Estilos Aprende */
	.title{
	    margin: 0px 0px 8px 14px;
	    color:#0039a6;
	    font-size: 26px;
	    padding:0px 0px 2px 40px;
	}

	.left{
	    width: 22%;
	    float:left;
	    font-size: 17px;
	    color:black;
	    margin-left: 14px;
	}
	.right{
	    width: 67%;
	    float:left;
	    color:#313131;
	    font-size: 17px;
	    line-height: 18px;
	    margin-bottom: 4px;
	}

}