canvas{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

body{
  margin:0;
}

.phone{
  position: absolute;
  top: 49%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
  font-family:'omnessemibold';
}